<html>
<head>
    <link rel="stylesheet" 
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" 
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" 
    crossorigin="anonymous">
</head>

<body style="background-color:rgb(245, 248, 230);">
    {% load static %}
    <div id="header" class="row justify-content-center">
        <img src="{% static 'img/logo_ocl.png' %}" alt="Orange country letting"/>
    </div>
    <div id="bloc_page" class="d-flex justify-content-center">
        <div id="column" class="flex-column">
            {% block content %}
            {% endblock %}
        </div>
    </div>
</body>
</html>